.popup-box {
    position: fixed;
    z-index:9999;
    width: 600px;
    margin-left: 600px;
    margin-top: 440px;
    height: 500px;
    top: 0;
    left: 0;
    right: 0;
    bottom:0;
    text-align: center;    
  }
   
  .box {
    position: relative;
    width: 70%;
    margin: 0 auto;
    height: auto;
    max-height: 70vh;
    margin-top: calc(100vh - 85vh - 20px);
    background:white;
    border-radius: 4px;
    padding: 20px;
    border: 1px solid #999;
    overflow: auto;
  }
   
  
@media screen and (max-width: 1070px){
    .popup-box {
        position: fixed;
        z-index:9999;
        width: 650px;
        margin-left: 400px;
        margin-top: 420px;
        height: 500px;
        top: 0;
        left: 0;
        right: 0;
        bottom:0;
        text-align: center;    
      }
       
      .box {
        position: relative;
        width: 70%;
        margin: 0 auto;
        height: auto;
        max-height: 70vh;
        margin-top: calc(100vh - 85vh - 20px);
        background:white;
        border-radius: 4px;
        padding: 20px;
        border: 1px solid #999;
        overflow: auto;
      }
  }  

  @media screen and (max-width: 976px){
    .popup-box {
        position: fixed;
        z-index:9999;
        width: 650px;
        margin-left: 300px;
        margin-top: 420px;
        height: 500px;
        top: 0;
        left: 0;
        right: 0;
        bottom:0;
        text-align: center;    
      }
       
      .box {
        position: relative;
        width: 70%;
        margin: 0 auto;
        height: auto;
        max-height: 70vh;
        margin-top: calc(100vh - 85vh - 20px);
        background:white;
        border-radius: 4px;
        padding: 20px;
        border: 1px solid #999;
        overflow: auto;
      }
  }  

  @media screen and (max-width: 880px){
    .popup-box {
        position: fixed;
        z-index:9999;
        width: 650px;
        margin-left: 200px;
        margin-top: 420px;
        height: 500px;
        top: 0;
        left: 0;
        right: 0;
        bottom:0;
        text-align: center;    
      }
       
      .box {
        position: relative;
        width: 70%;
        margin: 0 auto;
        height: auto;
        max-height: 70vh;
        margin-top: calc(100vh - 85vh - 20px);
        background:white;
        border-radius: 4px;
        padding: 20px;
        border: 1px solid #999;
        overflow: auto;
      }
  }  

  @media screen and (max-width: 774px){
    .popup-box {
        position: fixed;
        z-index:9999;
        width: 650px;
        margin-left: 20px;
        margin-top: 250px;
        height: 500px;
        top: 0;
        left: 0;
        right: 0;
        bottom:0;
        text-align: center;    
      }
       
      .box {
        position: relative;
        width: 70%;
        margin: 0 auto;
        height: auto;
        max-height: 70vh;
        margin-top: calc(100vh - 85vh - 20px);
        background:white;
        border-radius: 4px;
        padding: 20px;
        border: 1px solid #999;
        overflow: auto;
      }
  }  

  @media screen and (max-width: 597px){
    .popup-box {
        position: fixed;
        z-index:9999;
        width: 450px;
        margin-left: 20px;
        margin-top: 250px;
        height: 500px;
        top: 0;
        left: 0;
        right: 0;
        bottom:0;
        text-align: center;    
      }
       
      .box {
        position: relative;
        width: 70%;
        margin: 0 auto;
        height: auto;
        max-height: 70vh;
        margin-top: calc(100vh - 85vh - 20px);
        background:white;
        border-radius: 4px;
        padding: 20px;
        border: 1px solid #999;
        overflow: auto;
      }
  }  

  @media screen and (max-width: 431px){
    .popup-box {
        position: fixed;
        z-index:9999;
        width: 450px;
        margin-left: 5px;
        margin-top: 250px;
        height: 500px;
        top: 0;
        left: 0;
        right: 0;
        bottom:0;
        text-align: center;    
      }
       
      .box {
        position: relative;
        width: 70%;
        margin: 0 auto;
        height: auto;
        max-height: 70vh;
        margin-top: calc(100vh - 85vh - 20px);
        background:white;
        border-radius: 4px;
        padding: 20px;
        border: 1px solid #999;
        overflow: auto;
      }
  }  

  @media screen and (max-width: 379px){
    .popup-box {
        position: fixed;
        z-index:9999;
        width: 450px;
        margin-left: -40px;
        margin-top: 250px;
        height: 500px;
        top: 0;
        left: 0;
        right: 0;
        bottom:0;
        text-align: center;    
      }
       
      .box {
        position: relative;
        width: 70%;
        margin: 0 auto;
        height: auto;
        max-height: 70vh;
        margin-top: calc(100vh - 85vh - 20px);
        background:white;
        border-radius: 4px;
        padding: 20px;
        border: 1px solid #999;
        overflow: auto;
      }
  }  

